* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
    font-family: Arial, sans-serif;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    min-height: 100vh;
    height: 100vh;
    scroll-snap-align: start;
}

/* ========================== /
        Header Styling
/ ========================== */

header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s ease-in-out;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

header img {
    width: 70px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav ul li {
    font-size: 1rem;
    color: #4D4D4D;
    cursor: pointer;
    position: relative;
}

nav ul li a {
    font-size: 1rem;
    color: #4D4D4D;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

nav ul li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    /* Adjust this value to lower or raise the underline */
    left: 0;
    background-color: #4D4D4D;
    /* Changed to match the text color */
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

nav ul li:hover::before {
    visibility: visible;
    width: 100%;
}

/* ========================== /
        Hero Styling
/ ========================== */

#hero {
    background: url('./images/hero-bg.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.8);
    color: #4D4D4D;
    text-align: left;
    padding: 2rem;
    max-width: 50%;
    margin: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: bolder;
}

.cta-button {
    display: block;
    margin: 3rem auto 0;
    background-color: #4D4D4D;
    color: #FFFFFF;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #333333;
}


/* ========================== /
     My Abilities Styling
/ ========================== */

#my-abilities {
    background-color: #333333;
    color: #FFFFFF;
    padding: 2rem 0;
}

#my-abilities h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ability-box {
    flex: 1;
    min-width: calc(33.33% - 2rem);
    max-width: calc(33.33% - 2rem);
    margin: 1rem;
    background-color: #FFFFFF;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ability-box img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    margin: 1rem 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.ability-box p {
    color: #4D4D4D;
    width: 20vw;
    /* Same width as the image */
    margin: 0 auto 2rem auto;
    /* Top and bottom margins adjusted */
    text-align: left;
}

.learn-more {
    display: inline-block;
    margin-top: 0;
    /* Removed top margin to align with the last line of text */
    background-color: #4D4D4D;
    color: #FFFFFF;
    padding: 0.2rem 0.4rem;
    /* Adjusted padding */
    text-decoration: none;
    border-radius: 4px;
}

.inline-button {
    display: inline-block;
    margin: 0;
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
}

/* ========================== /
        About Me Styling
/ ========================== */

#about-me {
    background-color: #F2F2F2;
    padding: 2rem;
    color: #333333;
    min-height: 100vh;  /* Full viewport height */
    display: flex;
    align-items: center;  /* Center content vertically */
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;  /* Full width */
    height: calc(100vh - 4rem);  /* Full viewport height minus padding */
}

.profile-photo-container {
    flex: 1;
    max-width: calc(40% - 2rem);  /* Reduced to 40% */
    height: calc((100vh - 4rem) * 0.8);  /* 80% of the full viewport height */
    position: relative;
    margin-left: 6rem;
}

.profile-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid #333333;  /* Add border */
}

.about-text {
    flex: 1;
    max-width: calc(50% - 2rem);
    height: 100%;  /* Full height of .profile-container */
    text-align: left;
    padding-left: 1rem;
    border-left: 4px solid #333333;  /* Add border */
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text h3 {
    font-size: calc(1.5rem + 1vw);
    /* Responsive font size */
    margin-bottom: 1rem;
}

.about-text p {
    font-size: calc(1rem + 0.5vw);
    margin-left: 2rem;
    max-height: 90%;
    /* Limit height */
    overflow-y: auto;
    /* Scroll if needed */
}

/* ========================== /
        Footer Styling
/ ========================== */

footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 2rem 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact,
.social-media,
.copyright {
    flex: 1;
    min-width: calc(33.33% - 2rem);
    margin: 1rem;
}

.contact-personal {
    text-align: left;
}

/* ========================== /
    Developer Hero Styling
/ ========================== */

#developer-hero {
    background-image: url('./images/developer-hero.jpg'); 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3rem;
    border-radius: 8px;
    display: inline-block;
}


.hero-content h1 {
    font-size: calc(2rem + 2vw);
}

.hero-content p {
    font-size: calc(1rem + 1vw);
}

/* ========================== /
   Developer Project Styling
/ ========================== */

#developer-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#developer-main h2 {
    margin-top: 3rem;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: #000;  /* Black text */
}

.project-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;  /* Space on the right and left */
}

.project-column {
    flex: 1;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.9);  /* Slightly transparent black */
    color: #fff;  /* White text */
    padding: 1rem;  /* Padding around the content */
    border-radius: 8px;  /* Optional rounded corners */
    box-sizing: border-box;  /* Include padding and border in element's total width and height */
}


.project-column h3 {
    margin-bottom: 1rem;
    font-size: 1.5em;  /* Increase font size */
    font-weight: bold;  /* Make it bold */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Optional text shadow */
    padding-bottom: 1rem;
    border-bottom: 1px solid #4D4D4D;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    text-align: left;  /* Left-align the linked projects */
    text-decoration: none;
    color: inherit;
}

.project img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 1rem;
}

.project span {
    flex: 1;
}


/* <==== Project Stylings to Copy / Paste ====>*/

/* .project-header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.back-to-portfolio {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
} */
